{% extends 'Template_Admin.html.twig' %}

 {% block body %}

     <H1>Bonjour: Ali</H1>


     <p>rrrrrrrrrrrrrrr






     </p>

     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>

     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>
     <p>rrrrrrrrrrrrrrr






     </p>

 {% endblock %}



