{% extends 'KidsFrontBundle::Template_User.html.twig' %}


{% block body %}


    <!-- PAGE TITLE SECTION-->
    <section class="pageTitleSection">
        <div class="container">
            <div class="pageTitleInfo">
                <h2>Contact Us</h2>
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </section>



    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix conactSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="media addressContent">
              <span class="media-left bg-color-1" href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
                        <div class="media-body">
                            <h3 class="media-heading">Address:</h3>
                            <p>9/4 C Block, garden Street, Shyamoli, Dhaka.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media addressContent">
              <span class="media-left bg-color-2" href="#">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
                        <div class="media-body">
                            <h3 class="media-heading">Phone:</h3>
                            <p>954 124 2542 Or 546 235 4478</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="media addressContent">
              <span class="media-left bg-color-3" href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span>
                        <div class="media-body">
                            <h3 class="media-heading">Email:</h3>
                            <p><a href="mailto:hello@example.com">hello@example.com</a> Or
                                <a href="mailto:hello1@example.com">hello1@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="col-xs-12">#}
                    {#<div class="mapArea areaPadding">#}
                        {#<div id="map"></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-xs-12">
                    <div class="homeContactContent">
                        <form action="#" method="POST" role="form">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class="form-control border-color-1" id="exampleInputEmail1"
                                               placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <input type="text" class="form-control border-color-2" id="exampleInputEmail2"
                                               placeholder="Email address">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <input type="text" class="form-control border-color-5" id="exampleInputEmail3"
                                               placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <input type="text" class="form-control border-color-6" id="exampleInputEmail4"
                                               placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        <textarea class="form-control border-color-4"
                                                  placeholder="Write message"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="formBtnArea">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </div>



    </body>
    </html>
{% endblock body %}
