{% extends 'KidsFrontBundle::templateAffichserv.html.twig' %}
{% block body %}

<div class="result__rdv rdv__dispos__swipe" style="float:left; width:100% !important;">
    <div class="result__showing-days" id="result__showing-days" data-sticky_column="">
        <div class="result__showing-days__list" style=" margin-left: 0;width: 100%!important; border-top-right-radius:7px;">

			<span class="spacer" aria-hidden="false">
				<a href="javascript:void(0)" class="praticien__rdv-table__nav rdv-nav-prev rdv-nav-disabled">&nbsp;</a></span>
            <ul>
                <li><abbr></abbr>Lun.<br>23/04<abbr></abbr></li>
                <li><abbr></abbr>Mar.<br>24/04<abbr></abbr></li>
                <li><abbr></abbr>Mer.<br>25/04<abbr></abbr></li>
                <li><abbr></abbr>Jeu.<br>26/04<abbr></abbr></li>
                <li><abbr></abbr>Ven.<br>27/04<abbr></abbr></li>
                <li><abbr></abbr>Sam.<br>28/04<abbr></abbr></li>
                <li><abbr></abbr>Dim.<br>29/04<abbr></abbr></li>
            </ul>
            <span class="spacer" aria-hidden="false"><a href="javascript:void(0)" class="praticien__rdv-table__nav rdv-nav-next ">&nbsp;</a></span> </div>
        <input type="hidden" id="dopage" value="detail">
        <input type="hidden" id="today" value="2018-04-23">
        <input type="hidden" id="startdate" value="2018-04-23">
        <input type="hidden" id="enddate" value="2018-04-29">
    </div>
    <table class="praticien__rdv-table praticien__rdv-table--small praticien__rdv-table--7">
        <tbody id="rdv-doctor-13518" class="result__doctorId"><tr><td class="availabilities__results-nav">&nbsp;
            </td><td><ul class="praticien__rdv-table__rdvs"></ul></td><td><ul class="praticien__rdv-table__rdvs">
                    <li class=""><a href="rendez-vous/13518X1524558600">
                            <time>09:30</time></a></li><li class="">
                        <a href="rendez-vous/13518X1524559500">
                            <time>09:45</time></a>
                    </li><li class="">
                        <a href="rendez-vous/13518X1524560400">
                            <time>10:00</time></a></li><li class="">
                        <a href="rendez-vous/13518X1524561300">
                            <time>10:15</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524562200">
                            <time>10:30</time></a></li>
                    <li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524563100">
                            <time>10:45</time></a></li>
                    <li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524564000">
                            <time>11:00</time></a></li>
                    <li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524564900">
                            <time>11:15</time></a></li>
                    <li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524565800">
                            <time>11:30</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524566700">
                            <time>11:45</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524567600">
                            <time>12:00</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524568500">
                            <time>12:15</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524569400">

                            <time>12:30</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524570300">
                            <time>12:45</time></a>
                    </li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524571200">
                            <time>13:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden">
                        <a href="rendez-vous/13518X1524572100">
                            <time>13:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524573000">
                            <time>13:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524573900">
                            <time>13:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524574800">
                            <time>14:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524575700">
                            <time>14:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524576600">
                            <time>14:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524577500">
                            <time>14:45</time></a></li><a href="#" class="praticien__rdv-table__show-all"><i class="pfadmicon-glyph-738"></i></a>
                    <a href="#toshow-13518" class="rdv-hide-all hide"><i class="pfadmicon-glyph-737"></i></a></ul></td><td><ul class="praticien__rdv-table__rdvs">
                    <li class=""><a href="rendez-vous/13518X1524645000">
                            <time>09:30</time></a>
                    </li><li class=""><a href="rendez-vous/13518X1524645900">
                            <time>09:45</time></a></li><li class=""><a href="rendez-vous/13518X1524646800">
                            <time>10:00</time></a></li><li class=""><a href="rendez-vous/13518X1524647700"><time>10:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524648600"><time>10:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524649500"><time>10:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524650400"><time>11:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524651300"><time>11:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524652200"><time>11:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524653100"><time>11:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524654000"><time>12:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524654900"><time>12:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524655800"><time>12:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524656700"><time>12:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524657600"><time>13:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524658500"><time>13:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524659400"><time>13:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524660300"><time>13:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524661200"><time>14:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524662100"><time>14:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524663000"><time>14:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524663900"><time>14:45</time></a></li><a href="#" class="praticien__rdv-table__show-all"><i class="pfadmicon-glyph-738"></i></a><a href="#toshow-13518" class="rdv-hide-all hide"><i class="pfadmicon-glyph-737"></i></a></ul></td><td><ul class="praticien__rdv-table__rdvs"></ul></td><td><ul class="praticien__rdv-table__rdvs"><li class=""><a href="rendez-vous/13518X1524817800"><time>09:30</time></a></li><li class=""><a href="rendez-vous/13518X1524818700"><time>09:45</time></a></li><li class=""><a href="rendez-vous/13518X1524819600"><time>10:00</time></a></li><li class=""><a href="rendez-vous/13518X1524820500"><time>10:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524821400"><time>10:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524822300"><time>10:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524823200"><time>11:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524824100"><time>11:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524825000"><time>11:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524825900"><time>11:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524826800"><time>12:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524827700"><time>12:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524828600"><time>12:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524829500"><time>12:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524830400"><time>13:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524831300"><time>13:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524832200"><time>13:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524833100"><time>13:45</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524834000"><time>14:00</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524834900"><time>14:15</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524835800"><time>14:30</time></a></li><li class="tohide praticien__rdv-table__rdv--hidden"><a href="rendez-vous/13518X1524836700"><time>14:45</time></a></li><a href="#" class="praticien__rdv-table__show-all" style="display: block;"><i class="pfadmicon-glyph-738"></i></a><a href="#toshow-13518" class="rdv-hide-all hide"><i class="pfadmicon-glyph-737"></i></a></ul></td><td><ul class="praticien__rdv-table__rdvs"></ul></td><td><ul class="praticien__rdv-table__rdvs"></ul></td><td class="availabilities__results-nav">&nbsp;</td></tr></tbody>
    </table>
</div>
{% endblock %}