{% extends 'KidsFrontBundle::Template_User.html.twig' %}

 {% block ajouteretablissement %}

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="teachersPhoto">
                    <img src="{{ asset('bundles/kidsfront/img/home/team/team-1.jpg') }}" alt="image" class="img-rounded img-responsive">
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="teachersInfo">
                    <h3>About Me</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Vir ginia, looked up one of the more obscure Latin words, consectetur, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubt able source.</p>
                    <ul class="list-inline">
                        <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                    <h3>Teachers Information</h3>
                    <div class="teachersProfession bg-color-1">Designation</div>
                    <div class="professionDetails">Assistent Teacher</div>
                    <div class="teachersProfession bg-color-2">Degree</div>
                    <div class="professionDetails">English Literature</div>
                    <div class="teachersProfession bg-color-3">Experience</div>
                    <div class="professionDetails">10 Years In Preschool Education</div>
                    <div class="teachersProfession bg-color-4">Hobbies</div>
                    <div class="professionDetails">Music,Dancing And Playing Football</div>
                    <div class="teachersProfession bg-color-5">My Course</div>
                    <div class="professionDetails">Language,Grammer</div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock ajouteretablissement %}